{% extends "base.html" %}
{% block title %}Submit New Minutes{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow rounded">
        <h2 class="text-center text-primary py-3">Submit New Minutes</h2>
        <form method="post" enctype="multipart/form-data" class="p-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                {{ form.title|addclass:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                {{ form.description|addclass:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="attachment" class="form-label">Attachment (Optional)</label>
                {{ form.attachment|addclass:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="approval_chain" class="form-label">Approval Chain</label>
                {{ form.approval_chain|addclass:"form-control" }}
                <small class="text-muted">Select a pre-configured approval chain.</small>
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2">Submit</button>
        </form>
    </div>
</div>
{% include 'partials/modal_create_chain.html' %}

{% endblock %}
